<html>
    <head>
        <meta charset="utf-8" />
        <title>
            Report
        </title>
        <style>
            body { font-family: Arial, sans-serif; } table { border-collapse:
            collapse; width: 100%; } th, td { border: 1px solid black; padding:
            8px; text-align: left; } th { background-color: #f2f2f2; }
            
            .tags-title {
                margin-top: 500px;
            }
        </style>

        <script defer src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", event => {
                const chartData = "{{{data}}}".split(",");
                const chartLabel = "{{{labels}}}".split(",").map(v => Number(v));
                const data = [
                    {
                        x: chartData,
                        y: chartLabel,
                        type: "bar"
                    }
                ];
                Plotly.newPlot("tag-bar-graph", data);
            });
        </script>
    </head>

    <body>
        <h1>
            Report
        </h1>
        <h2>
            Company Info
        </h2>

        <table>
            <thead>
                <tr>
                    <th>
                        Company
                    </th>
                    {{#if showTags}}
                        <th>
                            Tags
                        </th>
                    {{/if}}
                    {{#if showDescription}}
                        <th>
                            Description
                        </th>
                    {{/if}}
                    {{#if showLocation}}
                    <th>Location</th>
                    {{/if}}
                </tr>
            </thead>
            <tbody>
                {{#companies}}
                    <tr>
                        <td>
                            {{name}}
                        </td>
                        {{#if ../showTags}}
                            <td>
                                {{type}}
                            </td>
                        {{/if}}
                        {{#if ../showDescription}}
                            <td>
                                {{description}}
                            </td>
                        {{/if}}
                        {{#if ../showLocation}}
                        <td>{{location}}</td>
                        {{/if}}
                    </tr>
                {{/companies}}
            </tbody>
        </table>

        <h2>
            Company Contacts
        </h2>
        <table>
            <thead>
                <tr>
                    <th>
                        Company
                    </th>
                    {{#if showEmail}}
                        <th>
                            Email
                        </th>
                    {{/if}}
                    {{#if showPhoneNumber}}
                        <th>
                            Phone Number
                        </th>
                    {{/if}}
                    {{#if showResources}}
                        <th>
                            Resources
                        </th>
                    {{/if}}
                </tr>
            </thead>
            <tbody>
                {{#companies}}
                    <tr>
                        <td>
                            {{name}}
                        </td>
                        {{#if ../showEmail}}
                            <td>
                                {{email}}
                            </td>
                        {{/if}}
                        {{#if ../showPhoneNumber}}
                            <td>
                                {{phoneNumber}}
                            </td>
                        {{/if}}
                        {{#if ../showResources}}
                            <td>
                                {{#resources}}
                                <div>
                                    <a href="{{link}}">
                                        {{name}}
                                    </a>
                                </div>
                                {{/resources}}
                            </td>
                        {{/if}}
                    </tr>
                {{/companies}}
            </tbody>
        </table>

        <h3 class="tags-title">Top 7 Most Common Tags</h3>
        <div id="tag-bar-graph"></div>
    </body>
</html>